---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Robert, a history major at Stanford. While I was born in Chicago
        and have lived in many parts of the US, I consider myself a North
        Carolinian.
        <br />
        My current interests include:
      </p>
      <ul class="list-disc list-inside">
        <li>History</li>
        <li>Public Policy</li>
        <li>International Relations</li>
        <li>Science and Technology</li>
        <li>Economics</li>
        <li>Law</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond academics, I'm passionate about traveling, tennis, and arts.
    </p>
    <p class="text-sm font-light">
      I am currently working on a history of Milton Friedman's visit to China,
      a historical analysis of the American science and technology model,  
      the Stanford Abundance project. I am also an opinion writer for the Stanford Daily.
    </p>
  </div>
</Card>
