---
import { Icon } from "astro-icon/components";
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Contact Me">
  <div class="flex flex-col h-full justify-between">
    <div class="flex flex-col mt-4">
      <h2 class="text-gray-500 text-sm">Email</h2>
      <p>robkliu(at)stanford(dot)edu</p> </div>

    <div class="flex flex-col flex-grow justify-around mt-4">
      <a href={LINKS.linkedin} target="_blank" class="flex items-center gap-2 hover:text-blue-400 transition-colors">
        <Icon name="ri:linkedin-box-fill" class="h-6" />
        <span>LinkedIn</span>
      </a>
      <a href={LINKS.instagram} target="_blank" class="flex items-center gap-2 hover:text-pink-400 transition-colors">
        <Icon name="ri:instagram-line" class="h-6" />
        <span>Instagram</span>
      </a>
    </div>
  </div>
</Card>

