---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import Tooltip from "./Tooltip/index";
import { Image } from "astro:assets";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">welcome</h6>
        <p class="m-0 font-light text-xl">
          Hi, I'm <b class="font-bold">Robert Liu</b>, a history major at 
          the Stanford University and a Student Fellow at the Hoover Institution.
        </p>
        <p class="m-0 font-light text-xl">
        I am currently working on a history of Milton Friedman's visit to China,
        a historical analysis of the American science and technology model under 
        Profs Steve Koonin and Steve Kotkin, and the Stanford Abundance project. 
        I am also a regular opinion writer for the Stanford Daily.
        </p>
      </div>

    </div>
    <img
    src="/robert202501.jpg"
    alt="Robert Liu"
    class="w-48 h-48 rounded-2xl object-cover md:relative ml-auto"
    />
  </div>
</Card>
