---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import Tooltip from "./Tooltip/index";
import { Image } from "astro:assets";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full gap-8">
    <div class="flex flex-col justify-between md:max-h-[300px]">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">welcome</h6>
        <p class="m-0 font-light text-xl">
        Hi, I am <b class="font-bold">Robert Liu</b>, a history major at 
        Stanford University with a deep interest in how technology shaped 
        global history, and the role of public policy in raising living standards.
        </p>
        <p class="mt-4 font-light text-xl">
        I am currently researching 
        <a href="/friedman-in-china" class="font-normal underline decoration-red-500 underline-offset-4 hover:text-red-500 transition-colors">
        Milton Friedman's visit to China
        </a>,
        the history of American science and technology model (under 
        Profs Steve Koonin and Steve Kotkin), and the Stanford 
        Abundance project. I am also a regular opinion writer for 
        the 
        <a href="https://stanforddaily.com/author/robkliu/" target="_blank" 
        class="font-normal text-white underline decoration-red-500 underline-offset-4 
        hover:text-red-500 transition-all duration-300">
        Stanford Daily
        </a>.
        </p>
      </div>

    </div>
    <img
    src="/robert202501.jpg"
    alt="Robert Liu"
    class="w-48 h-48 rounded-2xl object-cover md:relative ml-auto shrink-0"
    />
  </div>
</Card>
